// Цвета и базовые переменные
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333333;

$base-font-size: 16px;
$font-family: "Arial", sans-serif;

$spacing: 15px;
$border-radius: 8px;

$container-width: 1200px;
$base-height: 100px;
